
@font-face {
    font-family: "PokemonTextFont";
    src: url("../../res/fonts/Pokemon GB.ttf") format("truetype");
}

@font-face {
    font-family: "DataControlTextFont";
    src: url("../../res/fonts/data-latin.ttf") format("truetype");
}

body {

	font-family: PokemonTextFont, Courier, Verdana;	
	font-weight:bold;
	overflow:hidden !important;
	
	/*background: radial-gradient(#00B292, #b3ffd9);
	background: -webkit-radial-gradient(#00B292, #b3ffd9);
	background: -moz-radial-gradient(#00B292, #b3ffd9);
	background: -o-radial-gradient(#00B292, #b3ffd9);*/
	
}


.h2-text-size {
	font-family: PokemonTextFont;
    font-weight: normal;
}

.btn {
	font-family: PokemonTextFont;
    font-weight: normal;
}

#background_container {
	position:absolute;
	
	width:100%;
	height:100%;	
	
	background: radial-gradient(#FFFFFF, #FFFFAA);
	background: -webkit-radial-gradient(#FFFFFF, #FFFFAA);
	background: -moz-radial-gradient(#FFFFFF, #FFFFAA);
	background: -o-radial-gradient(#FFFFFF, #FFFFAA); 
}

.background1 {
	position:absolute;

	width:100%;
	height:100%;

	background: radial-gradient(#FFFFFF, #FFFF81);
	background: -webkit-radial-gradient(#FFFFFF, #FFFF81);
	background: -moz-radial-gradient(#FFFFFF, #FFFF81);
	background: -o-radial-gradient(#FFFFFF, #FFFF81);  
}
.background2 {

	position:absolute;

	width:100%;
	height:100%;

	background: radial-gradient(#FFFFFF, #FFFF61);
	background: -webkit-radial-gradient(#FFFFFF, #FFFF61);
	background: -moz-radial-gradient(#FFFFFF, #FFFF61);
	background: -o-radial-gradient(#FFFFFF, #FFFF61);
}
.background3 {

	position:absolute;

	width:100%;
	height:100%;

	background: radial-gradient(#FFFFFF, #FFFF35);
	background: -webkit-radial-gradient(#FFFFFF, #FFFF35);
	background: -moz-radial-gradient(#FFFFFF, #FFFF35);
	background: -o-radial-gradient(#FFFFFF, #FFFF35);
}
.background4 {

	position:absolute;

	width:100%;
	height:100%;

	background: radial-gradient(#FFFFC9, #FFFFEE);
	background: -webkit-radial-gradient(#FFFFC9, #FFFFEE);
	background: -moz-radial-gradient(#FFFFC9, #FFFFEE);
	background: -o-radial-gradient(#FFFFC9, #FFFFEE);
	
}

#container_all {
	
	overflow: hidden;
	padding:0 !important;
}

#subtitle {
    position: absolute;
    top: 20%;
    width: 80%;
    height: 46%;
    margin-left: 10%;
    vertical-align: middle;
    background-image: url("../../res/img/PokeHatchersSubtitle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
        
}
    
#pokedex_container {

	top: 3%;
	height:auto;
	background:#ff3333;
	border-radius:30px;
	
	padding:0 !important;
	margin-left:15px;
	width:324px;
	position:absolute;
		
}


#lights_row {

	height:120px;
}

	#lights_component_background {
	
		position:absolute;
		background:#990000;
		height:70px;
		width:74px;
		left:250px;
		
		border-radius: 0px 30px 0px 0px;
	}
	
	#lights_component_background2 {
	
		position: absolute;
	    background: #ff3333;
	    height: 16px;
	    width: 39px;
	    left: 285px;
	    top: 60px;
	    border-radius: 100px 0px 0px 0px;
	}

	#lights_component {
	
		background:#990000;
		height:100%;
		width:300px;
			
		border-radius: 30px 0px 100px 0px;
		border-bottom: 3px solid #5e0000;
		
	}

	#blue_light_container {
	
		width:100px;
	  	height:100px;	
	  	display:inline-block;
	  	float:left;
	  	margin: 9px;
	  	
	}

	#blue_light {
	
		width:100%;
		height:100%;
		border-radius: 100%;
		background:#0099ff;
		
		background: radial-gradient(#99d6ff, #0099ff);
		background: -webkit-radial-gradient(#99d6ff, #0099ff);
		background: -moz-radial-gradient(#99d6ff, #0099ff);
		background: -o-radial-gradient(#99d6ff, #0099ff);
		
		box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px black;
		-moz-box-shadow: 0 0 20px black;
		-o-box-shadow: 0 0 20px black;
		
	}
		
	
	#red_light {
	
		background:red;	
		
		background: radial-gradient(#ffffcc, #ff0000);
		background: -webkit-radial-gradient(#ffffcc, #ff0000);
		background: -moz-radial-gradient(#ffffcc, #ff0000);
		background: -o-radial-gradient(#ffffcc, #ff0000);
		
	}
	#yellow_light {
	
		background:yellow;	
		
		background: radial-gradient(#ffffcc, #ffff00);
		background: -webkit-radial-gradient(#ffffcc, #ffff00);
		background: -moz-radial-gradient(#ffffcc, #ffff00);
		background: -o-radial-gradient(#ffffcc, #ffff00);
	
	}
	#green_light {
	
		background:green;	
		
		background: radial-gradient(#ffffcc, #80ff00);
		background: -webkit-radial-gradient(#ffffcc, #80ff00);
		background: -moz-radial-gradient(#ffffcc, #80ff00);
		background: -o-radial-gradient(#ffffcc, #80ff00);
	
	}

	.small_light {
	
		border-radius: 100%;
	    width: 30px;
	    height: 30px;
	    display: inline-block;
	    float: left;
	    margin: 18px 0px 0px 8px;
	    
	    box-shadow: 0 0 20px black;
		-webkit-box-shadow: 0 0 20px black;
		-moz-box-shadow: 0 0 20px black;
		-o-box-shadow: 0 0 20px black;

		
	}

#screen_display {

	padding-top: 5px;
	padding-bottom: 20px;
	margin-top: 14%;
    margin-bottom: 10%;
    margin-left: 4.8%;
    width: 90%;
    height: auto;
    background: #b3ffb3;
    
    background: radial-gradient(#ffffcc, #b3ffb3);
	background: -webkit-radial-gradient(#ffffcc, #b3ffb3);
	background: -moz-radial-gradient(#ffffcc, #b3ffb3);
	background: -o-radial-gradient(#ffffcc, #b3ffb3);
	
	box-shadow: inset 0 0 6px black;
	-webkit-box-shadow: inset 0 0 6px black;
	-moz-box-shadow: inset 0 0 6px black;
	-o-box-shadow: inset 0 0 6px black;
}

#request_form_container {
	
	position:absolute;
	
	height:98%;
	width:26%;
	
	left:73.5%;
}

#request_form {

	background: whitesmoke;
	border:8px double black;
    width: 111%;
    left:-15%;
    /* height: 50; */
    top: 2%;
    position: absolute;
	
}

.input-failure {

	background-color:#FF9999;	
}

/*#email {

	width:100%;	
}

#postal_code {

	width:100%;	
}*/

@media (min-width: 1000px){
    .h2-text-size{font-size: 22px; margin-top: 20px; margin-bottom:30px;}
    .h3-text-size{font-size: 10px; margin: 30px 10px 0px 10px;}
    .input-text-fields{font-size: 11px; margin-top:30px; margin-bottom:20px; padding-top:10px; padding-bottom:10px;}
    #screen_display{overflow-y: auto !important;   max-height: 200px;}
    #request_form{max-height:none; overflow-x:hidden; overflow-y:auto;}
   
}

@media (min-width: 1120px){
        
    .h2-text-size{font-size: 24px; margin-top: 20px; margin-bottom:30px;}
    .h3-text-size{font-size: 11px; margin: 30px 10px 0px 10px;}
    .input-text-fields{font-size: 11px; margin-top:30px; margin-bottom:20px; padding-top:10px; padding-bottom:10px;}
   
        
    #pokedex_container {

		top: 3%;
		height:auto;
		background:#ff3333;
		border-radius:30px;
		
		padding:0 !important;
		margin-left:15px;
		width:370px;
		position:absolute;
			
	}

	#lights_component_background {
	
		position:absolute;
		background:#990000;
		height:70px;
		width:120px;
		left:250px;
		
		border-radius: 0px 30px 0px 0px;
	}
	
	#lights_component_background2 {
	
		position: absolute;
	    background: #ff3333;
	    height: 70px;
	    width: 96px;
	    left: 274px;
	    top: 40px;
	    border-radius: 100px 0px 0px 0px;
	}
}

@media (min-width:1280px)
{
	#pokedex_container {

		top: 3%;
		height:auto;
		background:#ff3333;
		border-radius:30px;
		
		padding:0 !important;
		margin-left:15px;
		width:400px;
		position:absolute;
			
	}
	
	#lights_component_background {
	
		position:absolute;
		background:#990000;
		height:70px;
		width:150px;
		left:250px;
		
		border-radius: 0px 30px 0px 0px;
	}
	
	#lights_component_background2 {
	
		position: absolute;
	    background: #ff3333;
	    height: 70px;
	    width: 126px;
	    left: 274px;
	    top: 40px;
	    border-radius: 100px 0px 0px 0px;
	}
	
	#request_form {

		background: whitesmoke;
		border:8px double black;
	    width: 90%;
	    left:-5%;
	    /* height: 50; */
	    top: 3%;
	    position: absolute;
		
	}
}

@media (min-width:1400px)
{
	#pokedex_container {

		top: 3%;
		height:auto;
		background:#ff3333;
		border-radius:30px;
		
		padding:0 !important;
		margin-left:15px;
		width:450px;
		position:absolute;
			
	}
	
	#lights_component_background {
	
		position:absolute;
		background:#990000;
		height:70px;
		width:200px;
		left:250px;
		
		border-radius: 0px 30px 0px 0px;
	}
	
	#lights_component_background2 {
	
		position: absolute;
	    background: #ff3333;
	    height: 70px;
	    width: 176px;
	    left: 274px;
	    top: 40px;
	    border-radius: 100px 0px 0px 0px;
	}
	
	#request_form {

		background: whitesmoke;
		border:8px double black;
	    width: 90%;
	    left:-5%;
	    /* height: 50; */
	    top: 31%;
	    position: absolute;
		
	}
	
	.particle_generator {
	
		left: 6%;
	    width: 85%;	
	}
}

@media (min-width: 1749px) {
    .h2-text-size{font-size: 25px; margin-top: 20px; margin-bottom:30px;}
    .h3-text-size{font-size: 15px; margin: 30px 10px 0px 10px;}
    .input-text-fields{font-size: 15px; margin-top:30px; margin-bottom:20px; padding-top:10px; padding-bottom:10px;}
}

@media (min-height: 890px) and (min-width:1000px){
    
    /*#request_form{max-height:none;}*/
    #screen_display{max-height: none;}
}
@media (max-height: 889px) and (min-width:1000px){
    
    #screen_display{max-height: 540px; }
}
@media (max-height: 749px) and (min-width:1000px){
    
    #screen_display{overflow-y: auto !important;   max-height: 390px;}
    /*#request_form >.h3-text-size:not(.btn){display:none;};*/
    
}
@media (max-height: 717px) and (min-width:1000px){
    
    #request_form{max-height:none;}
}
@media (max-height: 600px) and (min-width:1000px){

    #screen_display{overflow-y: auto !important;   max-height: 200px;}
}
@media (max-height: 400px) and (min-width:1000px){   

    #screen_display{overflow-y: auto !important;   max-height: 88px;}
    
}






/*@media (max-height: 750px){
    .h2-text-size{font-size: 18px; margin-top: 20px; margin-bottom:30px;}
    .h3-text-size{font-size: 11px; margin: 30px 10px 0px 10px;}
    .input-text-fields{font-size: 11px; margin-top:30px; margin-bottom:20px; padding-top:10px; padding-bottom:10px;}
}*/


#submit_button {
	margin-top:10px;
	margin-bottom:15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#impressum {

	position:absolute;
	font-size: 8px;
    bottom: 3px;
    right: 3px;	
}


#pokemon_egg_hatchers_container {
	
	margin-top: 1%;
    text-align: center;
    height: 96%;
    overflow: hidden;
}

#egg_hatch_container {
	
    /*cursor: pointer;
    margin-left: 28%;
    text-align: center;
    width: 44%;
    
    */
   height: 100%;
   /*col-xs-6 col-xs-offset-3*/
}

#egg_hatchers_title {
	position: absolute;
    left: 0;
    width: 100%;
    height: 46%;
    vertical-align: middle;
    background-image: url("../../res/img/PokeHatchersTitle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#egg_hatch {
	
	height:90%;
	margin-top:5%;
	/*background:green;*/
}

#egg {
	
	position:absolute;
	left:0;
	cursor: pointer;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}


.egg_animation_state1 {
	
	background-image: url("../../res/img/EggState1_SVG.svg");
}
.egg_animation_state2 {
	
	background-image: url("../../res/img/EggState2_SVG.svg");
}
.egg_animation_state3 {
	
	background-image: url("../../res/img/EggState3_SVG.svg");
}
.egg_animation_state4 {
	
	background-image: url("../../res/img/EggState4_SVG.svg");
}
.egg_animation_state5 {
	
	background-image: url("../../res/img/EggState5_SVG.svg");
}


#egg_bits_right {
	
	position:absolute;
   
   width:100%;
   height: 100%;
	
	background-image: url("../../res/img/EggExtraBitsRightAnimation.gif");
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	
	
}

#egg_bits_left {
	
	position:absolute;
   
   width:100%;
   height: 100%;
	
	background-image: url("../../res/img/EggExtraBitsLeftAnimation.gif");
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	
	
}


#preload_div { opacity:0; }

#preload-01 { background: url("../../res/img/EggState1_SVG.svg") no-repeat -9999px -9999px; }
#preload-02 { background: url("../../res/img/EggState2_SVG.svg") no-repeat -9999px -9999px; }
#preload-03 { background: url("../../res/img/EggState3_SVG.svg") no-repeat -9999px -9999px; }
#preload-04 { background: url("../../res/img/EggState4_SVG.svg") no-repeat -9999px -9999px; }
#preload-05 { background: url("../../res/img/EggState5_SVG.svg") no-repeat -9999px -9999px; }
#preload-06 { background: url("../../res/img/EggExtraBitsLeftAnimation.gif") no-repeat -9999px -9999px; }
#preload-07 { background: url("../../res/img/EggExtraBitsRightAnimation.gif") no-repeat -9999px -9999px; }
#preload-08 { background: url("../../res/img/PokeHatchersTitle.png") no-repeat -9999px -9999px; }



@media (min-width: 1000px) {
	
	/*////////////   ANIMATIONS   ////////////////////*/
	
	/************** EGG WIGGLE IDLE *********************/
	
	.wiggle-animation:hover {
	
				
		opacity:0.8;
		
	}
	
	.wiggle-animation{
	  animation: wiggleFrames linear 2s;
	  animation-iteration-count: infinite;
	  transform-origin: 50% 100%;
	  -webkit-animation: wiggleFrames linear 2s;
	  -webkit-animation-iteration-count: infinite;
	  -webkit-transform-origin: 50% 100%;
	  -moz-animation: wiggleFrames linear 2s;
	  -moz-animation-iteration-count: infinite;
	  -moz-transform-origin: 50% 100%;
	  -o-animation: wiggleFrames linear 2s;
	  -o-animation-iteration-count: infinite;
	  -o-transform-origin: 50% 100%;
	  -ms-animation: wiggleFrames linear 2s;
	  -ms-animation-iteration-count: infinite;
	  -ms-transform-origin: 50% 100%;
	  
	}
	
	@keyframes wiggleFrames{
	  
	  40% {
	    transform:  rotate(0deg) ;
	  }
	  44% {
	    transform:  rotate(10deg) ;
	  }
	  48% {
	    transform:  rotate(-5deg) ;
	  }
	  52% {
	    transform:  rotate(2deg) ;
	  }
	  56% {
	    transform:  rotate(-2deg) ;
	  }
	  60% {
	    transform:  rotate(0deg) ;
	  }
	 
	}
	
	@-moz-keyframes wiggleFrames{
	  0% {
	    -moz-transform:  rotate(0deg) ;
	  }
	  40% {
	    -moz-transform:  rotate(0deg) ;
	  }
	  44% {
	    -moz-transform:  rotate(10deg) ;
	  }
	  48% {
	    -moz-transform:  rotate(-5deg) ;
	  }
	  52% {
	    -moz-transform:  rotate(2deg) ;
	  }
	  56% {
	    -moz-transform:  rotate(-2deg) ;
	  }
	  60% {
	    -moz-transform:  rotate(0deg) ;
	  }
	}
	
	@-webkit-keyframes wiggleFrames {
	  0% {
	    -webkit-transform:  rotate(0deg) ;
	  }
	  40% {
	    -webkit-transform:  rotate(0deg) ;
	  }
	  44% {
	    -webkit-transform:  rotate(10deg) ;
	  }
	  48% {
	    -webkit-transform:  rotate(-5deg) ;
	  }
	  52% {
	    -webkit-transform:  rotate(2deg) ;
	  }
	  56% {
	    -webkit-transform:  rotate(-2deg) ;
	  }
	  60% {
	    -webkit-transform:  rotate(0deg) ;
	  }
	}
	
	@-o-keyframes wiggleFrames {
	  0% {
	    -o-transform:  rotate(0deg) ;
	  }
	  40% {
	    -o-transform:  rotate(0deg) ;
	  }
	  44% {
	    -o-transform:  rotate(10deg) ;
	  }
	  48% {
	    -o-transform:  rotate(-5deg) ;
	  }
	  52% {
	    -o-transform:  rotate(2deg) ;
	  }
	  56% {
	    -o-transform:  rotate(-2deg) ;
	  }
	  60% {
	    -o-transform:  rotate(0deg) ;
	  }
	}
	
	@-ms-keyframes wiggleFrames {
	  
	  40% {
	    -ms-transform:  rotate(0deg) ;
	  }
	  44% {
	    -ms-transform:  rotate(10deg) ;
	  }
	  48% {
	    -ms-transform:  rotate(-5deg) ;
	  }
	  52% {
	    -ms-transform:  rotate(2deg) ;
	  }
	  56% {
	    -ms-transform:  rotate(-2deg) ;
	  }
	  60% {
	    -ms-transform:  rotate(0deg) ;
	  }
	}
	
	/************** EGG SWING *********************/
	
	.swing-animation{
	  animation: swingFrames linear 0.6s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 100%;
	  -webkit-animation: swingFrames linear 0.6s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 100%;
	  -moz-animation: swingFrames linear 0.6s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 100%;
	  -o-animation: swingFrames linear 0.6s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 100%;
	  -ms-animation: swingFrames linear 0.6s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 100%;
	}
	
	@keyframes swingFrames{
	  0% {
	    transform:  rotate(0deg) ;
	  }
	  20% {
	    transform:  rotate(15deg) ;
	  }
	  40% {
	    transform:  rotate(-10deg) ;
	  }
	  60% {
	    transform:  rotate(5deg) ;
	  }
	  80% {
	    transform:  rotate(-5deg) ;
	  }
	  100% {
	    transform:  rotate(0deg) ;
	  }
	}
	
	@-moz-keyframes swingFrames{
	  0% {
	    -moz-transform:  rotate(0deg) ;
	  }
	  20% {
	    -moz-transform:  rotate(15deg) ;
	  }
	  40% {
	    -moz-transform:  rotate(-10deg) ;
	  }
	  60% {
	    -moz-transform:  rotate(5deg) ;
	  }
	  80% {
	    -moz-transform:  rotate(-5deg) ;
	  }
	  100% {
	    -moz-transform:  rotate(0deg) ;
	  }
	}
	
	@-webkit-keyframes swingFrames {
	  0% {
	    -webkit-transform:  rotate(0deg) ;
	  }
	  20% {
	    -webkit-transform:  rotate(15deg) ;
	  }
	  40% {
	    -webkit-transform:  rotate(-10deg) ;
	  }
	  60% {
	    -webkit-transform:  rotate(5deg) ;
	  }
	  80% {
	    -webkit-transform:  rotate(-5deg) ;
	  }
	  100% {
	    -webkit-transform:  rotate(0deg) ;
	  }
	}
	
	@-o-keyframes swingFrames {
	  0% {
	    -o-transform:  rotate(0deg) ;
	  }
	  20% {
	    -o-transform:  rotate(15deg) ;
	  }
	  40% {
	    -o-transform:  rotate(-10deg) ;
	  }
	  60% {
	    -o-transform:  rotate(5deg) ;
	  }
	  80% {
	    -o-transform:  rotate(-5deg) ;
	  }
	  100% {
	    -o-transform:  rotate(0deg) ;
	  }
	}
	
	@-ms-keyframes swingFrames {
	  0% {
	    -ms-transform:  rotate(0deg) ;
	  }
	  20% {
	    -ms-transform:  rotate(15deg) ;
	  }
	  40% {
	    -ms-transform:  rotate(-10deg) ;
	  }
	  60% {
	    -ms-transform:  rotate(5deg) ;
	  }
	  80% {
	    -ms-transform:  rotate(-5deg) ;
	  }
	  100% {
	    -ms-transform:  rotate(0deg) ;
	  }
	}



	/********************* EGG BITS DISSAPEAR RIGHT ***********************/
	
	.dissapear-right-animation{
	  animation: dissapearRight linear 0.3s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: dissapearRight linear 0.3s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: dissapearRight linear 0.3s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: dissapearRight linear 0.3s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: dissapearRight linear 0.3s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes dissapearRight{
	  0% {
	    opacity:1;
	    transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    transform:  translate(645px,-132px)  rotate(37deg) ;
	  }
	  88% {
	    opacity:1;
	    transform:  translate(1318px,-36px)  rotate(75deg) ;
	  }
	  100% {
	    opacity:0;
	    transform:  translate(1500px,-8px)  rotate(85deg) ;
	  }
	}
	
	@-moz-keyframes dissapearRight{
	  0% {
	    opacity:1;
	    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    -moz-transform:  translate(645px,-132px)  rotate(37deg) ;
	  }
	  88% {
	    opacity:1;
	    -moz-transform:  translate(1318px,-36px)  rotate(75deg) ;
	  }
	  100% {
	    opacity:0;
	    -moz-transform:  translate(1500px,-8px)  rotate(85deg) ;
	  }
	}
	
	@-webkit-keyframes dissapearRight {
	  0% {
	    opacity:1;
	    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    -webkit-transform:  translate(645px,-132px)  rotate(37deg) ;
	  }
	  88% {
	    opacity:1;
	    -webkit-transform:  translate(1318px,-36px)  rotate(75deg) ;
	  }
	  100% {
	    opacity:0;
	    -webkit-transform:  translate(1500px,-8px)  rotate(85deg) ;
	  }
	}
	
	@-o-keyframes dissapearRight {
	  0% {
	    opacity:1;
	    -o-transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    -o-transform:  translate(645px,-132px)  rotate(37deg) ;
	  }
	  88% {
	    opacity:1;
	    -o-transform:  translate(1318px,-36px)  rotate(75deg) ;
	  }
	  100% {
	    opacity:0;
	    -o-transform:  translate(1500px,-8px)  rotate(85deg) ;
	  }
	}
	
	@-ms-keyframes dissapearRight {
	  0% {
	    opacity:1;
	    -ms-transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    -ms-transform:  translate(645px,-132px)  rotate(37deg) ;
	  }
	  88% {
	    opacity:1;
	    -ms-transform:  translate(1318px,-36px)  rotate(75deg) ;
	  }
	  100% {
	    opacity:0;
	    -ms-transform:  translate(1500px,-8px)  rotate(85deg) ;
	  }
	}
	
	
	
	/*********************** DISSSAPEAR LEFT EGG BITS****************************/
	
	.dissapear-left-animation{
	  animation: dissapearLeft linear 0.5s;
	  animation-iteration-count: 1;
	  transform-origin: 100% 100%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: dissapearLeft linear 0.5s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 100% 100%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: dissapearLeft linear 0.5s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 100% 100%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: dissapearLeft linear 0.5s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 100% 100%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: dissapearLeft linear 0.5s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 100% 100%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes dissapearLeft{
	  0% {
	    opacity:1;
	    transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    transform:  translate(-645px,-132px)  rotate(-37deg) ;
	  }
	  88% {
	    opacity:1;
	    transform:  translate(-1318px,-34px)  rotate(-75deg) ;
	  }
	  100% {
	    opacity:0;
	    transform:  translate(-1500px,-8px)  rotate(-85deg) ;
	  }
	}
	
	@-moz-keyframes dissapearLeft{
	  0% {
	    opacity:1;
	    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    -moz-transform:  translate(-645px,-132px)  rotate(-37deg) ;
	  }
	  88% {
	    opacity:1;
	    -moz-transform:  translate(-1318px,-34px)  rotate(-75deg) ;
	  }
	  100% {
	    opacity:0;
	    -moz-transform:  translate(-1500px,-8px)  rotate(-85deg) ;
	  }
	}
	
	@-webkit-keyframes dissapearLeft {
	  0% {
	    opacity:1;
	    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    -webkit-transform:  translate(-645px,-132px)  rotate(-37deg) ;
	  }
	  88% {
	    opacity:1;
	    -webkit-transform:  translate(-1318px,-34px)  rotate(-75deg) ;
	  }
	  100% {
	    opacity:0;
	    -webkit-transform:  translate(-1500px,-8px)  rotate(-85deg) ;
	  }
	}
	
	@-o-keyframes dissapearLeft {
	  0% {
	    opacity:1;
	    -o-transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    -o-transform:  translate(-645px,-132px)  rotate(-37deg) ;
	  }
	  88% {
	    opacity:1;
	    -o-transform:  translate(-1318px,-34px)  rotate(-75deg) ;
	  }
	  100% {
	    opacity:0;
	    -o-transform:  translate(-1500px,-8px)  rotate(-85deg) ;
	  }
	}
	
	@-ms-keyframes dissapearLeft {
	  0% {
	    opacity:1;
	    -ms-transform:  translate(0px,0px)  rotate(0deg) ;
	  }
	  43% {
	    opacity:1;
	    -ms-transform:  translate(-645px,-132px)  rotate(-37deg) ;
	  }
	  88% {
	    opacity:1;
	    -ms-transform:  translate(-1318px,-34px)  rotate(-75deg) ;
	  }
	  100% {
	    opacity:0;
	    -ms-transform:  translate(-1500px,-8px)  rotate(-85deg) ;
	  }
	}
	
	/***********************SLIDE UP TITLE**************************/
	
	.slide-up-from-egg-title{
	  animation: slideUpTitle ease 2s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: slideUpTitle ease 2s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: slideUpTitle ease 2s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: slideUpTitle ease 2s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: slideUpTitle ease 2s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes slideUpTitle{
	  0% {
	    transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	  }
	  20% {
	    transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  60% {
	    transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  100% {
	    transform:  translate(0px,-30%)  scaleX(0.5) scaleY(0.5) ;
	  }
	}
	
	@-moz-keyframes slideUpTitle{
	  0% {
	    -moz-transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	  }
	  20% {
	    transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  60% {
	    transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  100% {
	    transform:  translate(67%,0px)  scaleX(0.5) scaleY(0.5) ;
	  }
	}
	
	@-webkit-keyframes slideUpTitle {
	  0% {
	    -webkit-transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	  }
	  20% {
	    -webkit-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  60% {
	    -webkit-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  100% {
	    -webkit-transform:  translate(0px,-10%)  scaleX(0.5) scaleY(0.5) ;
	  }
	}
	
	@-o-keyframes slideUpTitle {
	  0% {
	    -o-transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	  }
	  20% {
	    -o-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  60% {
	    -o-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  100% {
	    -o-transform:  translate(67%,0px)  scaleX(0.5) scaleY(0.5) ;
	  }
	}
	
	@-ms-keyframes slideUpTitle {
	  0% {
	    -ms-transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	  }
	  20% {
	    -ms-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  60% {
	    -ms-transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
	  }
	  100% {
	    -ms-transform:  translate(67%,0px)  scaleX(0.5) scaleY(0.5) ;
	  }
	}}
	
	/***********************SLIDE UP SUBTITLE**************************/
	
	.slide-up-from-egg-subtitle{
	  animation: slideUpSubtitle ease 3.5s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: slideUpSubtitle ease 3.5s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: slideUpSubtitle ease 3.5s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: slideUpSubtitle ease 3.5s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: slideUpSubtitle ease 3.5s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes slideUpSubtitle{
	  0% {
	    transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	    opacity: 0;
	    
	  }
	  50% {
	    transform:  translate(0px,80%)  scaleX(0.2) scaleY(0.2) ;
	    opacity: 0;
	  }
	  100% {
	    transform:  translate(0px,-30%)  scaleX(0.8) scaleY(0.8) ;
	    opacity: 1;
	  }
	}
	
	@-moz-keyframes slideUpSubtitle{
	  
	  0% {
	    -moz-transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	    opacity: 0;
	  }
	  50% {
	    -moz-transform:  translate(0px,80%)  scaleX(0.2) scaleY(0.2) ;
	    opacity: 0;
	  }
	  100% {
	    -moz-transform:  translate(0px,-30%)  scaleX(0.8) scaleY(0.8) ;
	    opacity: 1;
	  }
	}
	
	@-webkit-keyframes slideUpSubtitle {
	  
	  0% {
	    -webkit-transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	    opacity: 0;
	  }
	  50% {
	    -webkit-transform:  translate(0px,80%)  scaleX(0.2) scaleY(0.2) ;
	    opacity: 0;
	  }
	  100% {
	    -webkit-transform:  translate(0px,-30%)  scaleX(0.8) scaleY(0.8) ;
	    opacity: 1;
	  }
	}
	
	@-o-keyframes slideUpSubtitle {
	  
	  0% {
	    -o-transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	    opacity: 0;
	  }
	  50% {
	    -o-transform:  translate(0px,80%)  scaleX(0.2) scaleY(0.2) ;
	    opacity: 0;
	  }
	  100% {
	    -o-transform:  translate(0px,-30%)  scaleX(0.8) scaleY(0.8) ;
	    opacity: 1;
	  }
	}
	
	@-ms-keyframes slideUpSubtitle {
	  
	  0% {
	    -ms-transform:  translate(0px,80%)  scaleX(0.20) scaleY(0.20) ;
	    opacity: 0;
	  }
	  50% {
	    -ms-transform:  translate(0px,80%)  scaleX(0.2) scaleY(0.2) ;
	    opacity: 0;
	  }
	  100% {
	    -ms-transform:  translate(0px,-30%)  scaleX(0.8) scaleY(0.8) ;
	    opacity: 1;
	  }
	}}
	
	/******************* PARTICLES ********************/
	
	.invisible_particles {
	
		opacity:0 !important;	
	}
	
	.textcontainer {padding:40px 0;text-align:center;}
	   .particle_generator {
	      text-align: center;
		    position: absolute;
		    left: 17%;
		    top: 55%;
		    width: 70%;
		    
	      
	     }
	     .particle {
	            opacity:0;
	            position: absolute;
	            /*background-color:rgba(33,150,243,0.5);*/
	            background-color:rgba(258,152,0,0.5);
	            animation: circles 2.5s ease-in infinite;
	            border-radius:100%;
	            
	         }
	     
	@keyframes circles {
	   0% {
	      opacity: 1;
	   }
	   20% { 
	      
	      transform:translate(0, -20%);
	   }
	   100% {
	      opacity: 0;
	      transform:translate(0, -2000%);
	   }
	}
	
	/******************* SLIDE IN FROM LEFT ********************/
	
	.slide-in-from-left{
	  animation: slideInFromleft ease 2s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: slideInFromleft ease 3s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: slideInFromleft ease 3s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: slideInFromleft ease 3s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: slideInFromleft ease 3s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes slideInFromleft{
	  0% {
	    transform:  translate(-800px,0px)  ;
	  }
	  67% {
	    transform:  translate(-800px,0px)  ;
	  }
	  100% {
	    transform:  translate(0px,0px)  ;
	  }
	}
	
	@-moz-keyframes slideInFromleft{
	  0% {
	    -moz-transform:  translate(-800px,0px)  ;
	  }
	  67% {
	    -moz-transform:  translate(-800px,0px)  ;
	  }
	  100% {
	    -moz-transform:  translate(0px,0px)  ;
	  }
	}
	
	@-webkit-keyframes slideInFromleft {
	  0% {
	    -webkit-transform:  translate(-800px,0px)  ;
	  }
	  67% {
	    -webkit-transform:  translate(-800px,0px)  ;
	  }
	  100% {
	    -webkit-transform:  translate(0px,0px)  ;
	  }
	}
	
	@-o-keyframes slideInFromleft {
	  0% {
	    -o-transform:  translate(-800px,0px)  ;
	  }
	  67% {
	    -o-transform:  translate(-800px,0px)  ;
	  }
	  100% {
	    -o-transform:  translate(0px,0px)  ;
	  }
	}
	
	@-ms-keyframes slideInFromleft {
	  0% {
	    -ms-transform:  translate(-800px,0px)  ;
	  }
	  67% {
	    -ms-transform:  translate(-800px,0px)  ;
	  }
	  100% {
	    -ms-transform:  translate(0px,0px)  ;
	  }
	}
	
	/******************* SLIDE IN FROM RIGHT ********************/
	
	.slide-in-from-right{
	  animation: slideInFromleft ease 2s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: slideInFromRight ease 3s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: slideInFromRight ease 3s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: slideInFromRight ease 3s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: slideInFromRight ease 3s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes slideInFromRight{
	  0% {
	    transform:  translate(800px,0px)  ;
	  }
	  67% {
	    transform:  translate(800px,0px)  ;
	  }
	  100% {
	    transform:  translate(0px,0px)  ;
	  }
	}
	
	@-moz-keyframes slideInFromRight{
	  0% {
	    -moz-transform:  translate(800px,0px)  ;
	  }
	  67% {
	    -moz-transform:  translate(800px,0px)  ;
	  }
	  100% {
	    -moz-transform:  translate(0px,0px)  ;
	  }
	}
	
	@-webkit-keyframes slideInFromRight {
	  0% {
	    -webkit-transform:  translate(800px,0px)  ;
	  }
	  67% {
	    -webkit-transform:  translate(800px,0px)  ;
	  }
	  100% {
	    -webkit-transform:  translate(0px,0px)  ;
	  }
	}
	
	@-o-keyframes slideInFromRight {
	  0% {
	    -o-transform:  translate(800px,0px)  ;
	  }
	  67% {
	    -o-transform:  translate(800px,0px)  ;
	  }
	  100% {
	    -o-transform:  translate(0px,0px)  ;
	  }
	}
	
	@-ms-keyframes slideInFromRight {
	  0% {
	    -ms-transform:  translate(800px,0px)  ;
	  }
	  67% {
	    -ms-transform:  translate(800px,0px)  ;
	  }
	  100% {
	    -ms-transform:  translate(0px,0px)  ;
	  }
	}
	
	/************* MAKE VISIBLE *********************/
	
	.make-visible{
	  animation: makeVisible linear 0.6s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: makeVisible linear 0.6s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: makeVisible linear 0.6s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: makeVisible linear 0.6s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: makeVisible linear 0.6s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes makeVisible{
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-moz-keyframes makeVisible{
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-webkit-keyframes makeVisible {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-o-keyframes makeVisible {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-ms-keyframes makeVisible {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	/************* MAKE VISIBLE2 *********************/
	
	.make-visible2{
	  animation: makeVisible2 linear 0.6s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: makeVisible2 linear 0.6s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: makeVisible2 linear 0.6s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: makeVisible2 linear 0.6s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: makeVisible2 linear 0.6s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes makeVisible2{
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-moz-keyframes makeVisible2{
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-webkit-keyframes makeVisible2 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-o-keyframes makeVisible2 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-ms-keyframes makeVisible2 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	
	/************* MAKE VISIBLE3 *********************/
	
	.make-visible3{
	  animation: makeVisible3 linear 0.6s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: makeVisible3 linear 0.6s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: makeVisible3 linear 0.6s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: makeVisible3 linear 0.6s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: makeVisible3 linear 0.6s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes makeVisible3{
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-moz-keyframes makeVisible3{
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-webkit-keyframes makeVisible3 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-o-keyframes makeVisible3 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-ms-keyframes makeVisible3 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	
	/************* MAKE VISIBLE4 *********************/
	
	.make-visible4{
	  animation: makeVisible4 linear 10s;
	  animation-iteration-count: 1;
	  transform-origin: 50% 50%;
	  animation-fill-mode:forwards; /*when the spec is finished*/
	  -webkit-animation: makeVisible4 linear 4s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: 50% 50%;
	  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	  -moz-animation: makeVisible4 linear 3s;
	  -moz-animation-iteration-count: 1;
	  -moz-transform-origin: 50% 50%;
	  -moz-animation-fill-mode:forwards; /*FF 5+*/
	  -o-animation: makeVisible4 linear 3s;
	  -o-animation-iteration-count: 1;
	  -o-transform-origin: 50% 50%;
	  -o-animation-fill-mode:forwards; /*Not implemented yet*/
	  -ms-animation: makeVisible4 linear 3s;
	  -ms-animation-iteration-count: 1;
	  -ms-transform-origin: 50% 50%;
	  -ms-animation-fill-mode:forwards; /*IE 10+*/
	}
	
	@keyframes makeVisible4{
	  0% {
	    opacity:0;
	  }
	  80% {
	  	opacity:0;
	  }
	  100% {
	    opacity:1;
	  }
	}
	
	@-moz-keyframes makeVisible4{
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-webkit-keyframes makeVisible4 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-o-keyframes makeVisible4 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
	@-ms-keyframes makeVisible4 {
	  0% {
	    opacity:0;
	  }
	  100% {
	    opacity:1.00;
	  }
	}
	
}